extends ./template/_pageTemplate.jade

block title 
    | 票券細節

block content 
    .container
        .btn-back
            a.btn-icon(href="index.html")
                span.material-icons arrow_back


    template(v-if="loading")
        .container
            include ./template/_loading-detail.jade   
    template(v-else)
        .container#detail.animated.fadeIn
            // alert 狀態(因為demo暫時關閉) 
            //- .alert-bar#warning(data-state="warning")
                span 可領取卡片數量不足，錯誤代碼：2e321
                .close(data-close="#warning")
            .img.detail-theme-img
                img(src="./img/detail/detail-img.png", alt="")
            .p-md 
                h2.Title 赤鬼牛排台中本店 95 折優惠券
                p.detail-caption.caption2
                    span.material-icons schedule
                    |2021/10/04 10:00 ~ 2022/11/03 23:59
                .content
                    p.Body2 結帳時請出示揪票通優惠畫面享現金價95折優惠 (不得與其他優惠同步使用)
                    br
                    p.Body2 分店介紹:
                    p.Body2 台灣大道店
                    p.Body2 地址：台中市西區台灣大道二段170號
                    p.Body2 訂位電話：04-22060078
                    
                    br 
                    p.Body2 崇德店
                    p.Body2 地址：台中市北屯區文心路四段603號
                    p.Body2 訂位電話：04-22429933

                    br 
                    p.Body2 逢甲店
                    p.Body2 地址：台中市西屯區文華路11號
                    p.Body2 訂位電話：04-24527277

                    br
                    p.Body2 大里店
                    p.Body2 地址：台中市大里區德芳南路212號
                    p.Body2 訂位電話：04-24833908

                    br
                    p.Body2 員林店
                    p.Body2 地址：彰化縣埔心鄉員林大道七段500號
                    p.Body2 訂位電話：04-8395018

                    br
                    p.Body2 高雄店
                    p.Body2 地址：高雄市左營區博愛二路318號
                    p.Body2 訂位電話：07-5568895
        .tab-bar
            .tab-bar-item(data-fancybox data-src="#shareDialog")
                .img 
                    img(src="./img/icon/ic-share-primary.png", alt="")
                span.caption2 分享票券
            .tab-bar-item(data-fancybox data-src="#getTicketDialog")
                .img 
                    img(src="./img/icon/ic-ticket-primary.png", alt="")
                span.caption2 領取票券
        // 分享跳窗
        #shareDialog.dialog.py-xl(style="display: none;")
            .column.ai-center.py-md.px-sm
                .img.img-bf.mb-md
                    img(src="img/bf-img.png", alt="")
                .Title 將活動分享給你的朋友吧！
            .d-flex.jc-center.pb-md
                .px-xs.column.ai-center
                    .img.mx-md.my-sm(data-ratio="1" data-size="lg")
                        img(src="img/detail/share-bf.png", alt="")
                    span.caption2 beanfun!分享
                .px-xs.column.ai-center
                    .img.mx-md.my-sm(data-ratio="1" data-size="lg")
                        img(src="img/detail/share-ex.png", alt="")
                    span.caption2 外部分享
        // 領取成功跳窗
        #getTicketDialog.dialog.no-close(style="display: none;")
            .column.ai-center.py-md
                .img.mb-xxs(data-size="md" data-ratio="1") 
                    img(src="/img/bf-img2.png", alt="領取成功圖")
                .Title.text-primary 領取成功！
                .reward-wrap
                    .reward-wrap-img.img
                        img(src="./img/detail/detail-img.png")
                    h4.Body2.reward-wrap-title 赤鬼牛排台中本店 95 折優惠券
                    p.reward-wrap-caption.caption2
                        span.material-icons.mr-xxs schedule
                        |2021/01/13 18:00 ~ 2021/12/31 23:59
                button.btn-primary.block(onclick="window.location.href='./4.0-asset-detail.html'") 查看票券
                a.text-btn.text-mediumgray.underline(href="./index.html") 瀏覽其他票券


block js 
    script.
        

        var jQfn = function (){
            $('[data-close]').click(function() {
                let closeID = $(this).attr('data-close')
                $(closeID).fadeOut()
            })
        }
        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    loading: true,
                    loadingTimer: 1000,
                    activeTab: 'all',
                }
            },
            watch: {
                activeTab: function() {
                },
            },
            mounted: function () {
                this.$nextTick(function () {
                    window.setTimeout(function(){
                        vm.loading = false
                    }, vm.loadingTimer);
                    jQfn()
                })
            },
            methods: {
                tabListControl: function(val) {
                }
            },
            updated: function () {
                this.$nextTick(function () {
                    jQfn()
                })
            }
        })