mixin list-card
    .list
        .img
        .info
            .text.line-2
            .text.w-75

mixin tab-menu 
    .row
        .text.w-15
        .text.w-15
        .text.w-15

mixin section-title
    .title.w-20.my-lg